# Virtual environment folders
venv/
ENV/
env/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
*.mp3
*.wav

# Environment variables
.env
*.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/

# Streamlit cache
.streamlit/

# Logs
*.log
